.leaflet-container .leaflet-control-zoom {
    margin-left: 12px !important;
    margin-top: 12px !important;
}

.leaflet-control-zoom a {
    width: 32px !important;
    height: 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    color: black !important;
    display: block !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.leaflet-control-zoom-in {
    font: bold 24px/32px Arial, Helvetica, sans-serif !important;
}

.leaflet-control-zoom-out {
    font: bold 24px/32px Tahoma, Verdana, sans-serif !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-disabled {
    cursor: default !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #bbb !important;
}